@import "mixins";

body {
  font-size: 16px;
}

@font-face {
  font-family: "UBUNTU-MEDIUM";
  src: url("../fonts/UBUNTU-MEDIUM.TTF");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SummerFont";
  src: url("../fonts/SUMMER-FONT-LIGHT.OTF");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "UBUNTU-REGULAR";
  src: url("../fonts/UBUNTU-REGULAR.TTF");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "UBUNTU-LIGHT";
  src: url("../fonts/UBUNTU-LIGHT.TTF");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "UBUNTU-BOLD";
  src: url("../fonts/UBUNTU-BOLD.TTF");
  font-weight: normal;
  font-style: normal;
}


@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

@import "navbar";
@import "main-screen";
@import "second-screen";
@import "third-screen";
@import "fourth-screen";
@import "fifth-screen";
@import "sixth-screen";
@import "seventh-screen";
@import "footer";
@import "popup";
@import "FAQ";
@import "news";
@import "other-news";