.main-screen-news-other {
  background: rgba(210, 214, 220, 0.8) url(../img/main-photo.png) 50% 50% fixed;
  background-size: cover;
  height: 149px;
}

.section-discount {
  .discount {
    text-align: center;
    h2 {
      font-family: SummerFont;
      color:  #3caad2;
      font-size: 5.625em;
      font-weight: 300;
      line-height: 100px;
      text-align: center;
    }
    p{
      font-family: UBUNTU-LIGHT;
      color:  rgb(30, 31, 32);
      font-size: 1.125em;
      font-weight: 500;
      line-height: 25px;
      text-align: center;
    }
    .btn-order {
      border-radius: 6px;
      background-color:  #f39c12;
      width: 260px;
      height: 50px;
      font-family: UBUNTU-REGULAR;
      color: #ffffff;
      font-size: 1em;
      font-weight: 400;
      line-height: 24px;
      text-align: center;
      text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
      margin-bottom: 60px;
    }
  }
}

.section-news-other {
  .other-news {
    text-align: center;
    h2 {
      font-family: SummerFont;
      color:  #4a4b4c;
      font-size: 5em;
      font-weight: 300;
      line-height: 100px;
      text-align: center;
    }
    img.dot {
      margin-bottom: 40px;
    }
  }
  .news-text {
    text-align: center;
    h2 {
      font-family: SummerFont;
      color: #4a4b4c;
      font-size: 5em;
      font-weight: 300;
      line-height: 100px;
      text-align: center;
      text-transform: uppercase;
    }
  }
  .info {
    max-width: 770px;
    p.date{
      font-family: UBUNTU-BOLD;
      color:  #3caad2;
      font-size: 0.938em;
      font-weight: 700;
      line-height: 24px;
      text-align: center;
    }
    img {
      margin-bottom: 30px;
    }
    .btn-inform {
      border-radius: 3px;
      background-color:  rgba(74, 75, 76, 0.5);
      height: 30px;
      padding: 0 12px;

    }
    .hr-info {
      background-color:  #cbcbcb;
      height: 1px;
    }
  }
  .news-block {
    h3 {
      font-family: UBUNTU-LIGHT;
      color: #4a4b4c;
      font-size: 1.188em;
      font-weight: 300;
      line-height: 23px;
      text-align: left;
    }
    p {
      font-family: UBUNTU-BOLD;
      color:  #3caad2;
      font-size: 0.938em;
      font-weight: 700;
      line-height: 24px;
      text-align: left;
    }
    .hr-news {
      background-color:  #cbcbcb;
      width: 370px;
      height: 1px;
      margin-bottom: 60px;
    }
  }
  .middle-btn {
    text-align: center;
    .btn-download {
      border-radius: 6px;
      background-color:  #3caad2;
      width: 192px;
      height: 50px;
      font-family: UBUNTU-LIGHT;
      color: #ffffff;
      font-size: 1em;
      font-weight: 300;
      line-height: 24px;
      text-align: center;
      text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
      margin-bottom: 50px;
      margin-top: 50px;
    }
  }
}