.photo-block {
  background: rgba(210, 214, 220, 0.2) url(../img/forth-block.png) 50% 50%;
  background-size: cover;
  height: 75vh;
  opacity: 0.8;
  text-align: center;
  .case-for-photo {
    height: 75vh;
    .header-text {
      height: 272px;
      position: relative;
      top: 50%;
      margin-top: -136px;
      h3 {
        font-family: SummerFont;
        color: #ffffff;
        font-size: 6.250em;
        text-align: center;
        @media #{$bootstrap-xs} {
          font-size: 3.125em;
          line-height: 60px;
        }
        @media #{$bootstrap-sm} {
          font-size: 6.25em;
          line-height: 100px;
        }
      }
      h2 {
        font-family: SummerFont;
        color: #ffffff;
        font-weight: 300;
        text-align: center;
        text-transform: uppercase;
        @media #{$bootstrap-xs} {
          font-size: 3.125em;
          line-height: 60px;
        }
        @media #{$bootstrap-sm} {
          font-size: 4.063em;
          line-height: 100px;
        }
      }
    }
  }
}

