.second-screen {
  background: url(../img/main-photo2.png) 50% 50%, rgba(176,52,61,0.65);
  background-size: cover;
  height: 160px;
    .second-text {
      display: inline-block;
      float: left;
      h2 {
        font-family: SummerFont;
        color: #4a4b4c;
        font-size: 3.750em;
        font-weight: 300;
        line-height: 60px;
        text-align: left;
        float: left;
        margin-top: 45px;
      }
    }
    .phone {
      background: url(../img/phone.png) no-repeat;
      height: 135px;
      width: 300px;
      display: inline-block;
      margin-left: -115px;
      float: left;
      margin-top: 25px;
    }
    .btn-second {

      .for-ios {
        border-radius: 6px;
        background-color: #191919;
        width: 170px;
        height: 50px;
        border: none;
        margin-top: 60px;
        margin-left: 5px;
        .shirt {
          background: url(../img/apple-logo.png) no-repeat;
          width: 22px;
          height: 27px;
          margin: 11px 13px 0 16px;
          float: left;
        }
        .cta-btn {
          color: #ffffff;
          vertical-align: middle;
          height: 100%;
          display: inline-block;
          font-family: UBUNTU-MEDIUM;
          font-size: 1.125em;
          font-weight: 500;
          line-height: 50px;
          text-align: left;
          float: left;
        }
      }
      .for-android {
        border-radius: 6px;
        background-color: #191919;
        width: 170px;
        height: 50px;
        border: none;
        margin-top: 60px;
        margin-left: 10px;
        .shirt {
          background: url(../img/logo-google.png) no-repeat;
          width: 117px;
          height: 27px;
          margin: 0 20px;
        }
      }
    }
  }
