.application-download-block {
  background: url(../img/main-photo2.png) 50% 50%, rgb(255, 255, 255);
  background-size: cover;
  min-height: 160px;

  .header-app {

    @media #{$bootstrap-sm} {
      max-width: 360px;
      z-index: 100;
      position: relative;
      float: left;
      display: inline-block;
    }
    @media #{$bootstrap-lg} {
      max-width: 100%;
    }

    h2 {
      font-family: $summer-font, "sans-serif";
      color: #4a4b4c;
      font-weight: 300;
      line-height: 60px;

      @media #{$bootstrap-xs} {
        text-align: center;
        font-size: 3.125em;
      }
      @media #{$bootstrap-sm} {
        margin-top: 15px;
        z-index: 100;
        text-align: left;
        float: left;
        font-size: 3.750em;
      }
      @media #{$bootstrap-lg} {
        margin-top: 45px;
      }
    }
  }

  .phone-app-bg {
    @media #{$bootstrap-xs} {
      background: none;
    }
    @media #{$bootstrap-sm} {
      background: url(../img/phone.png) no-repeat;
      height: 135px;
      width: 300px;
      display: inline-block;
      float: left;
      margin-top: 25px;
      margin-left: -300px;
      z-index: 1;
      position: relative;
      }
    @media #{$bootstrap-md} {
      margin-left: -115px;
    }
  }

  .block-for-app-btn {
    @media #{$bootstrap-xs} {
      text-align: center;
      display: block;
      margin-right: auto;
      margin-left: auto;
      max-width: 345px;
    }
    @media #{$bootstrap-sm} {
      display: inline-block;
      float: right;
    }
    @media (max-width: 375px) {
      width: 170px;
    }

    .btn-for-ios {
      border-radius: 6px;
      background-color: #191919;
      width: 170px;
      height: 50px;
      border: none;
      outline: none;
      @media #{$bootstrap-xs} {
        margin-top: 20px;
        margin-bottom: 20px;
        float: left;
      }
      @media #{$bootstrap-sm} {
        margin-top: 60px;
        float: right;
      }

      .apple-logo {
        background: url(../img/apple-logo.png) no-repeat;
        width: 22px;
        height: 27px;
        margin: 10px 13px 0 16px;
        float: left;
      }
      .apple-text-btn {
        color: #ffffff;
        vertical-align: middle;
        height: 100%;
        display: inline-block;
        font-family: UBUNTU-MEDIUM;
        font-size: 1.125em;
        font-weight: 500;
        line-height: 46px;
        text-align: left;
        float: left;
      }
    }

    .btn-for-android {
      border-radius: 6px;
      background-color: #191919;
      width: 170px;
      height: 50px;
      border: none;
      outline: none;
      @media #{$bootstrap-xs} {
        margin-top: 20px;
        margin-bottom: 20px;
        float: right;
        margin-left: 5px;
      }
      @media #{$bootstrap-sm} {
        margin-top: 60px;
        margin-left: 10px;
        float: right;
      }
      @media (max-width: 375px) {
        margin-left: 0;
        margin-bottom: 0;
      }
      .google-logo {
        background: url(../img/logo-google.png) no-repeat;
        width: 117px;
        height: 27px;
        margin: 0 20px;
      }
    }
  }
}
