#myModal{
  .modal-dialog {
    position: absolute;
    left: 50%;
    @media #{$bootstrap-xs} {
      width: 90%;
      min-height: 453px;
      margin-left: -45%;
      top: 10vh;
    }
    @media #{$bootstrap-sm} {
      top: 50%;
      width: 430px;
      min-height: 453px;
      margin-top: -226.5px;
      margin-left: -215px;
    }
    .modal-content {
      border-radius: 6px;
      background-color: #ffffff;
      box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.6);

      @media #{$bootstrap-xs} {
        width: 100%;
        min-height: 453px;
      }
      @media #{$bootstrap-sm} {
        width: 430px;
        min-height: 453px;
      }
      .modal-header {
        border: none;
      }
      .modal-body {
        text-align: center;
        p {
          font-family: $summer-font, "sans-serif";
          color: #4a4b4c;
          font-size: 3.750em;
          font-weight: 300;
          line-height: 60px;
          text-align: center;
        }
      }
      .modal-footer {
        border: none;
        text-align: center;
        .error-message {
          color: red;
          margin-top: 15px;
          font-family: $ubuntu-light-font, "sans-serif";
          font-size: 1em;
          display: none;
        }
        input {
          border-radius: 6px;
          border: 1px solid #cbcbcb;
          box-sizing: border-box;
          background-color: #f9f9f9;
          height: 50px;
          margin-top: 20px;
          padding:10px 10px 10px 20px;
          outline: none;
          ::-webkit-input-placeholder {
            padding-left: 20px;
            font-family: $ubuntu-light-font, "sans-serif";
            color: #4a4b4c;
            font-size: 1em;
            font-weight: 300;
            line-height: 24px;
            text-align: left;
          }
          ::-moz-placeholder {
            padding-left: 20px;
            font-family: $ubuntu-light-font, "sans-serif";
            color: #4a4b4c;
            font-size: 1em;
            font-weight: 300;
            line-height: 24px;
            text-align: left;
          }
          :-moz-placeholder {
            padding-left: 20px;
            font-family: $ubuntu-light-font, "sans-serif";
            color: #4a4b4c;
            font-size: 1em;
            font-weight: 300;
            line-height: 24px;
            text-align: left;
          }
          :-ms-input-placeholder {
            padding-left: 20px;
            font-family: $ubuntu-light-font, "sans-serif";
            color: #4a4b4c;
            font-size: 1em;
            font-weight: 300;
            line-height: 24px;
            text-align: left;
          }
          @media #{$bootstrap-xs} {
            width: 90%;
          }
          @media #{$bootstrap-sm} {
            width: 370px;
          }
        }
        .forgot-password {
          margin-top: 20px;
          a {
            font-family: $ubuntu-regular-font, "sans-serif";
            color:  #3caad2;
            font-size: 1em;
            font-weight: 400;
            line-height: 24px;
            text-decoration: underline;
            text-align: center;
          }
        }
        .btn-enter {
          width: 130px;
          height: 50px;
          margin-top: 20px;
          margin-bottom: 20px;
          font-family: $ubuntu-regular-font, "sans-serif";
          font-weight: 400;
          line-height: 24px;
        }
      }
    }
  }
}

#myModalLegal {
  .modal-dialog {
    position: absolute;
    left: 50%;
    @media #{$bootstrap-xs} {
      width: 90%;
      margin-left: -45%;
      top: 10vh;
    }
    @media #{$bootstrap-sm} {
      width: 750px;
      margin-left: -375px;
      top: 5vh;
    }
    .modal-content {
      border-radius: 6px;
      background-color:  #fff;
      box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.6);
      @media #{$bootstrap-xs} {
        width: 100%;
        height: auto;
        margin-bottom: 40px;
      }
      @media #{$bootstrap-sm} {
        width: 750px;
      }
      .modal-header {
        border: none;
      }
      .modal-body {
        text-align: center;
        p {
          font-family: $summer-font, "sans-serif";
          color:  #4a4b4c;
          font-size: 3.750em;
          font-weight: 300;
          line-height: 60px;
          text-align: center;
        }
      }
      .modal-footer {
        border: none;
        p {
          font-family: $ubuntu-light-font, "sans-serif";
          color:  #4a4b4c;
          font-size: 0.938em;
          font-weight: 300;
          line-height: 20px;
          text-align: left;
          padding: 0 50px 50px 50px;
        }
      }
    }
  }
}

#modal-pick-city {
  .modal-dialog {
    position: absolute;
    left: 50%;
    @media #{$bootstrap-xs} {
      width: 90%;
      margin-left: -45%;
      height: 274px;
      top:10vh;
    }
    @media #{$bootstrap-sm} {
      margin-top: -137px;
      margin-left: -385px;
      width: 770px;
      height: 274px;
      top: 50%;
    }
    .modal-content {
      border-radius: 6px;
      background-color:  #fff;
      box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.6);
      width: 770px;
      height: 274px;
      @media #{$bootstrap-xs} {
        width: 100%;
        height: auto;
      }
      @media #{$bootstrap-sm} {
        width: 770px;
        height: 274px;
      }
      .modal-header {
        border: none;
      }
      .modal-body {
        text-align: center;
        p {
          font-family: $summer-font, "sans-serif";
          color:  #4a4b4c;
          font-size: 3.750em;
          font-weight: 300;
          line-height: 60px;
          text-align: center;
        }
      }
      .modal-footer {
        border: none;
        text-align: center;
        input {
          border-radius: 6px;
          border: 1px solid #cbcbcb;
          box-sizing: border-box;
          background-color: #f9f9f9;
          height: 50px;
          padding: 10px 10px 10px 20px;
          outline :none;
          ::-webkit-input-placeholder {
            padding-left: 20px;
            font-family: $ubuntu-light-font, "sans-serif";
            color: #4a4b4c;
            font-size: 1em;
            font-weight: 300;
            line-height: 24px;
            text-align: left;
          }
          ::-moz-placeholder {
            padding-left: 20px;
            font-family: $ubuntu-light-font, "sans-serif";
            color: #4a4b4c;
            font-size: 1em;
            font-weight: 300;
            line-height: 24px;
            text-align: left;
          }
          :-moz-placeholder {
            padding-left: 20px;
            font-family: $ubuntu-light-font, "sans-serif";
            color: #4a4b4c;
            font-size: 1em;
            font-weight: 300;
            line-height: 24px;
            text-align: left;
          }
          :-ms-input-placeholder {
            padding-left: 20px;
            font-family: $ubuntu-light-font, "sans-serif";
            color: #4a4b4c;
            font-size: 1em;
            font-weight: 300;
            line-height: 24px;
            text-align: left;
          }
          @media #{$bootstrap-xs} {
            width: 100%;
          }
          @media #{$bootstrap-sm} {
            width: 430px;
          }
        }
        .btn-next {
          border-radius: 6px;
          background-color:  #f39c12;
          width: 150px;
          height: 50px;
          font-family: $ubuntu-light-font, "sans-serif";
          color: #ffffff;
          font-size: 1em;
          font-weight: 400;
          line-height: 35px;
          text-align: center;
          text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
          margin-top: -2px;
          outline: none;
          &:hover {
            background-color: #E48D12;
          }
          @media #{$bootstrap-xs} {
            margin-top: 20px;
            margin-left: 0;
            margin-bottom: 20px;
          }
          @media #{$bootstrap-sm} {
            margin-left: -20px;
          }
        }
      }
    }
  }
}

#modal-no-city {
  .modal-dialog {
    position: absolute;
    left: 50%;
    @media #{$bootstrap-xs} {
      width: 90%;
      margin-left: -45%;
      height: 518px;
      top: 10vh;
    }
    @media #{$bootstrap-sm} {
      width: 770px;
      height: 518px;
      margin-left: -385px;
      margin-top: -259px;
      top: 50%;
    }
    .modal-content {
      border-radius: 6px;
      background-color:  #ffffff;
      box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.6);
      @media #{$bootstrap-xs} {
        width: 100%;
        height: auto;
      }
      @media #{$bootstrap-sm} {
        width: 770px;
        height: 518px;
      }
      .modal-header {
        border: none;
      }
      .modal-body {
        text-align: center;
        height: 125px;
        p {
          font-family: $summer-font, "sans-serif";
          color:  #4a4b4c;
          font-weight: 300;
          text-align: center;
          @media #{$bootstrap-xs} {
            font-size: 3em;
            line-height: 40px;
          }
          @media #{$bootstrap-sm} {
            line-height: 60px;
            font-size: 3.750em;
          }
        }
      }
      .modal-footer {
        border: none;
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
        background-color:  #f4f5f5;
        text-align: center;
        @media #{$bootstrap-xs} {
          width: 100%;
          height: auto;
        }
        @media #{$bootstrap-sm} {
          width: 767px;
          height: 355px;
        }
        h2 {
          font-family: $summer-font, "sans-serif";
          color:  #3caad2;
          font-weight: 300;
          text-align: center;
          @media #{$bootstrap-xs} {
            font-size: 4.25em;
            line-height: 60px;
          }
          @media #{$bootstrap-sm} {
            line-height: 80px;
            font-size: 6.250em;
          }
        }
        p {
          font-family: $ubuntu-light-font, "sans-serif";
          color:  #4a4b4c;
          font-size: 1.125em;
          font-weight: 300;
          line-height: 40px;
          text-align: center;
          margin-top: 20px;
        }
        input {
          border-radius: 6px;
          border: 1px solid #cbcbcb;
          box-sizing: border-box;
          background-color:  #f9f9f9;
          height: 50px;
          margin-top: 20px;
          padding: 10px 10px 10px 20px;
          outline: none;
          ::-webkit-input-placeholder {
            padding-left: 20px;
            font-family: $ubuntu-light-font, "sans-serif";
            color: #4a4b4c;
            font-size: 1em;
            font-weight: 300;
            line-height: 24px;
            text-align: left;
          }
          ::-moz-placeholder {
            padding-left: 20px;
            font-family: $ubuntu-light-font, "sans-serif";
            color: #4a4b4c;
            font-size: 1em;
            font-weight: 300;
            line-height: 24px;
            text-align: left;
          }
          :-moz-placeholder {
            padding-left: 20px;
            font-family: $ubuntu-light-font, "sans-serif";
            color: #4a4b4c;
            font-size: 1em;
            font-weight: 300;
            line-height: 24px;
            text-align: left;
          }
          :-ms-input-placeholder {
            padding-left: 20px;
            font-family: $ubuntu-light-font, "sans-serif";
            color: #4a4b4c;
            font-size: 1em;
            font-weight: 300;
            line-height: 24px;
            text-align: left;
          }
          @media #{$bootstrap-xs} {
            width: 100%;
          }
          @media #{$bootstrap-sm} {
            width: 570px;
          }
        }
        .btn-sing-up {
          border-radius: 6px;
          background-color:  #3caad2;
          height: 50px;
          width: 200px;
          font-family: $ubuntu-light-font, "sans-serif";
          color: #ffffff;
          font-size: 1em;
          font-weight: 400;
          line-height: 24px;
          text-align: center;
          text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
          outline: none;
          margin-top: -2px;
          &:hover {
            background-color: #3d9bc3;
          }
          @media #{$bootstrap-xs} {
            margin-left: 0;
            margin-top: 20px;
          }
          @media #{$bootstrap-sm} {
            margin-left: -200px;
          }
        }
      }
    }
  }
}

#modal-subscription-success {
  .modal-dialog {
    position: absolute;
    left: 50%;
    @media #{$bootstrap-xs} {
      width: 90%;
      margin-left: -45%;
      height: 462px;
      top: 10vh;
    }
    @media #{$bootstrap-sm} {
      width: 770px;
      height: 462px;
      margin-top: -231px;
      margin-left: -385px;
      top: 50%;
    }
    .modal-content {
      border-radius: 6px;
      background-color:  #ffffff;
      box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.6);
      @media #{$bootstrap-xs} {
        width: 100%;
        height: auto;
      }
      @media #{$bootstrap-sm} {
        width: 770px;
        height: 462px;
      }
      .modal-header{
        border: none;
      }
      .modal-body {
        font-family: $summer-font, "sans-serif";
        color: #4a4b4c;
        font-weight: 300;
        text-align: center;
        height: 125px;
        @media #{$bootstrap-xs} {
          font-size: 3em;
          line-height: 40px;
        }
        @media #{$bootstrap-sm} {
          line-height: 60px;
          font-size: 3.750em;
        }
      }
      .modal-footer {
        border: none;
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
        background-color:  #f4f5f5;
        text-align: center;
        @media #{$bootstrap-xs} {
          width: 100%;
          height: auto;
        }
        @media #{$bootstrap-sm} {
          width: 767px;
          height: 299px;
        }
        h2 {
          font-family: $summer-font, "sans-serif";
          color:  #3caad2;
          font-size: 5.625em;
          font-weight: 300;
          line-height: 65px;
          text-align: center;
          @media #{$bootstrap-xs} {
            font-size: 4.625em;
            line-height: 55px;
          }
          @media #{$bootstrap-sm} {
            line-height: 65px;
            font-size: 5.625em;
            margin-top: 50px;
          }
        }
        p {
          font-family: $ubuntu-light-font, "sans-serif";
          color:  #1e1f20;
          font-size: 1.125em;
          font-weight: 300;
          line-height: 39px;
          text-align: center;
          margin-top: 20px;
          margin-bottom: 20px;
        }

        .btn-distribution {
          border-radius: 6px;
          background-color:  #f39c12;
          width: 260px;
          height: 50px;
          font-family: $ubuntu-regular-font, "sans-serif";
          color: #ffffff;
          font-size: 1em;
          font-weight: 400;
          line-height: 24px;
          text-align: center;
          text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
          outline: none;
          &:hover {
            background-color: #E48D12;
          }
          @media #{$bootstrap-xs} {
            margin-left: 0;
            margin-top: 20px;
            margin-bottom: 20px;
          }
          @media #{$bootstrap-sm} {

          }
        }
      }
    }
  }
}

#Subscription {
  .modal-dialog {
    position: absolute;
    left: 50%;
    height: 238px;
    @media #{$bootstrap-xs} {
      width: 90%;
      margin-left: -45%;
      top: 10vh;
    }
    @media #{$bootstrap-sm} {
      margin-top: -119px;
      margin-left: -375px;
      top: 50%;
      width: 750px;
    }
    .modal-content {
      border-radius: 6px;
      background-color:  #ffffff;
      box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.6);
      width: 750px;
      height: 238px;
      @media #{$bootstrap-xs} {
        width: 100%;
        height: auto;
      }
      .modal-header {
        border: none;
      }
      .modal-body {
        font-family: $summer-font, "sans-serif";
        color:  #4a4b4c;
        font-size: 3.125em;
        font-weight: 300;
        line-height: 60px;
        text-align: center;
      }
      .modal-footer {
        border: none;
        text-align: center;
        @media #{$bootstrap-xs} {
          margin-bottom: 10px;
        }
        .btn-yes {
          border-radius: 6px;
          width: 80px;
          height: 41px;
          font-family: $ubuntu-bold-font, "sans-serif";
          font-size: 1em;
          font-weight: 700;
          line-height: 24px;
          transform: scaleY(1.0004);
          text-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
          margin-right: 20px;
        }
        .btn-no {
          border-radius: 6px;
          background-color:  #e5e5e5;
          width: 80px;
          height: 41px;
          font-family: $ubuntu-bold-font, "sans-serif";
          color: #9f9fa0;
          font-size: 1em;
          font-weight: 700;
          line-height: 24px;
          text-align: center;
          transform: scaleY(1.0004);
          outline: none;
          &:hover {
            color: #fff;
            background-color: #878788;
          }
        }
      }
    }
  }
}

#modal-thanks {
  .modal-dialog {
    position: absolute;
    left: 50%;
    @media #{$bootstrap-xs} {
      width: 90%;
      top: 10vh;
      margin-left: -45%;
    }
    @media #{$bootstrap-sm} {
      width: 750px;
      top: 5vh;
      margin-left: -380px;
    }
    .modal-content {
      border-radius: 6px;
      background-color:  #ffffff;
      box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.6);
      @media #{$bootstrap-xs} {
        width: 100%;
        height: auto;
      }
      @media #{$bootstrap-sm} {
        width: 750px;
      }
    }
    .modal-header {
      border: none;
    }
    .modal-body {
      text-align: center;
      .header-title {
        font-family: $summer-font, "sans-serif";
        color:  #4a4b4c;
        font-size: 5em;
        font-weight: 300;
        line-height: 100px;
        text-align: center;
        text-transform: uppercase;
      }
      .header-text {
        font-family: $summer-font, "sans-serif";
        color:  #3caad2;
        font-size: 3.125em;
        font-weight: 300;
        line-height: 60px;
        margin-bottom: 20px;
      }
      .car {
        width: 100%;
      }
    }
    .modal-footer {
      width: 630px;
      padding: 0;
      text-align: center;
      margin-bottom: 30px;
      @media #{$bootstrap-xs} {
        width: 85%;
      }
      .footer-title {
        font-family: $summer-font, "sans-serif";
        color:  #4a4b4c;
        font-size: 3.125em;
        font-weight: 300;
        line-height: 60px;
        text-align: center;
        margin-bottom: 20px;
      }
      .btn-yes {
        border-radius: 6px;
        background-color:  #f39c12;
        width: 80px;
        height: 41px;
        font-family: $ubuntu-bold-font, "sans-serif";
        color:  #ffffff;
        font-size: 1em;
        font-weight: 700;
        line-height: 24px;
        text-align: center;
        transform: scaleY(1.0004);
        text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
        outline: none;
      }
      .btn-no {
        border-radius: 6px;
        background-color:  #e5e5e5;
        width: 80px;
        height: 41px;
        font-family: $ubuntu-bold-font, "sans-serif";
        color:  #a2a2a3;
        font-size: 1em;
        font-weight: 700;
        line-height: 24px;
        text-align: center;
        transform: scaleY(1.0004);
        outline: none;
        &:hover {
          background-color: #878788;
          color: #ffffff;
        }
      }
    }
  }
}

#modal-basket {
  .modal-dialog {
    position: absolute;
    width: 750px;
    top: 5vh;
    left: 50%;
    margin-left: -375px;
    @media #{$bootstrap-xs} {
      top:10vh;
      width: 90%;
      margin-left: -45%;
    }
    .modal-content {
      border-radius: 6px;
      background-color:  $white-color;
      box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.6);
      width: 750px;
      @media #{$bootstrap-xs} {
        width: 100%;
      }

      .modal-header {
        border: none;
      }
      .modal-body {
        font-family: $summer-font, "sans-serif";
        color:  #4a4b4c;
        font-size: 3.750em;
        font-weight: 300;
        line-height: 60px;
        text-align: center;
      }
      .modal-position {
        .position-header {
          font-family: $ubuntu-medium-font;
          color:  #4a4b4c;
          font-size: 0.938em;
          font-weight: 500;
          line-height: 34px;
          text-align: center;
          text-transform: uppercase;
        }
        .item-block-with-x {
          width: 630px;
          height: 95px;
          .basket-item {
            border-radius: 6px;
            border: 1px solid rgba(203, 203, 203, .5);
            box-sizing: border-box;
            background-color: #ffffff;
            width: 600px;
            height: 95px;
            float: left;
            margin-bottom: 20px;
            .img-mini-block {
              width: 70px;
              height: 70px;
              margin-left: 10px;
              margin-top: 12px;
              border: 1px solid rgba(203, 203, 203, .5);
              display: inline-block;
              float: left;
              img {
                width: 100%;
              }
            }
            .info-about-clothe {
              display: inline-block;
              float: left;
              margin-left: 10px;
              max-width: 60%;
              .name-clothe {
                font-family: $ubuntu-light-font, "sans-serif";
                color: #4a4b4c;
                font-size: 1.188em;
                font-weight: 300;
                line-height: 20px;
                text-align: left;
              }
              .dop-info {
                font-family: $ubuntu-light-font, "sans-serif";
                color: #4a4b4c;
                font-size: 0.750em;
                font-weight: 300;
                line-height: 14px;
                text-align: left;
              }
            }
            .price-block {
              float: right;
              display: inline-block;
              width: 110px;
              height: 60px;
              margin-top: 18px;
              border-left: 1px solid rgba(203, 203, 203, .5);
              .price {
                font-family: $ubuntu-medium-font, "sans-serif";
                color: #3caad2;
                font-size: 0.938em;
                font-weight: 500;
                line-height: 60px;
                text-align: center;
                margin-top: 0;
                margin-bottom: 0;
              }
            }
          }
          .basket-item-delete {
            border-radius: 6px;
            border: 1px solid rgba(203, 203, 203, .5);
            box-sizing: border-box;
            background-color:  #ffffff;
            width: 600px;
            height: 45px;
            .delete-item-text {
              color:rgb(158, 159, 160);
              font-family: $ubuntu-light-font, "sans-serif";
              font-size: 1em;
              font-weight: 300;
              line-height: 45px;
              text-align: left;
              margin: 0;
              padding-left: 10px;
              display: inline-block;
            }
            .return-text {
              display: inline-block;
              float: right;
              font-family: $ubuntu-light-font, "sans-serif";
              color:  #4a4b4c;
              font-size: 0.875em;
              font-weight: 300;
              line-height: 17px;
              border-bottom: 1px dotted #4a4b4c;
              margin-top: 15px;
            }
            .icon-reply {
              float: right;
              margin: 17px 15px 15px 5px;
            }
          }
          .btn-block-item {
            float: left;
            margin-left: 7px;
            margin-top: 36px;
            .btn-delete-item {
              border-radius: 50%;
              background-color: #3caad2;
              width: 22px;
              height: 22px;
              border: none;
              outline: none;
              padding: 0;
              .icon-close {
                color: #ffffff;
                font-size: 11px;
                font-weight: 400;
                line-height: 22px;
                text-align: center;
                margin-left: -0.5px;
              }
            }
          }
        }

        .delete-item {
          height: 45px;
          display:none;
          margin-bottom: 20px;
        }
      }
      .modal-position-mobile {
        .position-header {
          font-family: $ubuntu-medium-font;
          color:  #4a4b4c;
          font-size: 0.938em;
          font-weight: 500;
          line-height: 34px;
          text-align: center;
          text-transform: uppercase;
        }
        .basket-item-block-mobile {
          border-radius: 6px;
          border: 1px solid rgba(203, 203, 203, .5);
          box-sizing: border-box;
          background-color:  #ffffff;
          width: 90%;
          min-width: 270px;
          min-height: 70px;
          margin-top: 10px;
          .about-clothe {
            min-height: 70px;
            border-bottom: 1px solid rgba(203, 203, 203, .5);
            .name-clothe {
              font-family: $ubuntu-light-font, "sans-serif";
              color:  #4a4b4c;
              font-size: 1.188em;
              font-weight: 300;
              line-height: 20px;
              text-align: left;
              margin-left: 10px;
            }
            .dop-info {
              font-family: $ubuntu-light-font, "sans-serif";
              color: #4a4b4c;
              font-size: 0.750em;
              font-weight: 300;
              line-height: 14px;
              text-align: left;
              margin-left: 10px;
            }
          }
          .price-block {
            min-height: 45px;
            .price {
              font-family: $ubuntu-medium-font, "sans-serif";
              color:  #3caad2;
              font-size: 0.938em;
              font-weight: 500;
              line-height: 48px;
              text-align: left;
              float: left;
              margin-bottom: 0;
              margin-left: 10px;
            }
            .btn-delete-item {
              border-radius: 50%;
              background-color:  #3caad2;
              width: 22px;
              height: 22px;
              outline: none;
              padding: 0;
              float: right;
              border: none;
              margin-top: 12px;
              margin-right: 10px;
              .icon-close {
                color: #ffffff;
                font-size: 11px;
                font-weight: 400;
                text-align: center;
                line-height: 22px;
                margin-left: 0.5px;
              }
            }
          }
        }
        .delete-item-mobile {
          display: none;
          .basket-item-delete-mobile {
            .delete-item-text {
              font-family: $ubuntu-light-font, "sans-serif";
              color:  rgb(205, 205, 205);
              font-size: 1em;
              font-weight: 300;
              line-height: 20px;
              text-align: left;
              margin-top: 10px;
              margin-left: 10px;
            }
            .icon-reply {
              float: right;
              margin-right: 10px;
              margin-left: 7px;
              font-size: 14px;
              margin-top: 2px;
            }
            .return-text {
              float: right;
              font-family: $ubuntu-light-font, "sans-serif";
              color:  #4a4b4c;
              font-size: 0.875em;
              font-weight: 300;
              line-height: 16px;
              text-decoration: none;
              border-bottom: 1px dotted #4a4b4c;
            }
          }
        }
      }
      .modal-address {
        .address {
          border-radius: 6px;
          background-color: #f5f5f5;
          width: 630px;
          margin-top: 40px;
          padding: 20px 30px 0 30px;
          @media #{$bootstrap-xs} {
            width: 90%;
          }
          .address-title {
            font-family: $ubuntu-medium-font, "sans-serif";
            color:  #4a4b4c;
            font-size: 0.938em;
            font-weight: 500;
            line-height: 20px;
            text-align: left;
            display: inline-block;
            margin-bottom: 15px;
            margin-top: 0;
          }
          .address-text {
            font-family: $ubuntu-light-font, "sans-serif";
            color:  #4a4b4c;
            font-size: 1.188em;
            font-weight: 300;
            line-height: 20px;
            text-align: left;
            display: inline-block;
            margin-bottom: 15px;
          }
        }
      }
      .modal-date {
        .date-block {
          width: 630px;
          border-bottom: 1px solid #e5e5e5;
          margin-top: 15px;
          padding: 20px 30px 20px 30px;
          @media #{$bootstrap-xs} {
            width: 90%;
          }
          .date-title {
            font-family: $ubuntu-medium-font, "sans-serif";
            color:  #4a4b4c;
            font-size: 0.938em;
            font-weight: 500;
            line-height: 20px;
            text-align: left;
            display: inline-block;
            margin-bottom: 10px;
            margin-top: 0;
            width: 200px;
          }
          .date-text {
            font-family: $ubuntu-light-font, "sans-serif";
            color:  #4a4b4c;
            font-size: 1.188em;
            font-weight: 300;
            line-height: 20px;
            text-align: left;
            display: inline-block;
            margin-bottom: 10px;
          }
        }
      }
      .modal-contacts {
        .contacts-block {
          width: 630px;
          border-bottom: 1px solid #e5e5e5;
          margin-top: 30px;
          @media #{$bootstrap-xs} {
            width: 90%;
          }
          .contacts-info {
            padding: 0 30px 20px 30px;
            .contacts-title {
              font-family: $ubuntu-medium-font, "sans-serif";
              color:  #4a4b4c;
              font-size: 0.938em;
              font-weight: 500;
              line-height: 20px;
              text-align: left;
              margin-bottom: 25px;
              text-transform: uppercase;
            }
            .contacts-text {
              font-family: $ubuntu-light-font, "sans-serif";
              color:  #4a4b4c;
              font-size: 1.188em;
              font-weight: 300;
              line-height: 20px;
              text-align: left;
              margin-bottom: 15px;
            }
          }
        }
      }
      .modal-payment {
        .payment-block {
          width: 630px;
          border-bottom: 1px solid #e5e5e5;
          @media #{$bootstrap-xs} {
            width: 90%;
          }
          .payment-info {
            padding: 20px 30px;
            .payment-title {
              font-family: $ubuntu-medium-font, "sans-serif";
              color:  #4a4b4c;
              font-size: 0.938em;
              font-weight: 500;
              line-height: 20px;
              text-align: left;
              margin-bottom: 20px;
              text-transform: uppercase;
              margin-top: 0;
            }
            .payment-text {
              font-family: $ubuntu-light-font, "sans-serif";
              color:  #4a4b4c;
              font-size: 1.188em;
              font-weight: 300;
              line-height: 20px;
              text-align: left;
              margin-bottom: 0;
            }
          }
        }
      }
      .modal-footer {
        border: none;
        .delivery-block {
          width: 630px;
          @media #{$bootstrap-xs} {
            width: 90%;
          }
          .delivery {
            @media #{$bootstrap-sm} {
              height: 70px;
            }
            .delivery-title {
              font-family: $summer-font, "sans-serif";
              color:  #3e4041;
              font-size: 2.500em;
              font-weight: 300;
              text-align: left;
              display: inline-block;
              float: left;
              margin-bottom: 0;
              @media #{$bootstrap-xs} {
                display: block;
                float: none;
                text-align: center;
              }
            }
            .delivery-text {
              font-family: $summer-font, "sans-serif";
              color:  #3e4041;
              font-size: 2.500em;
              font-weight: 300;
              text-align: left;
              display: inline-block;
              float: right;
              margin-top: 10px;
              width: 120px;
              margin-bottom: 0;
              @media #{$bootstrap-xs} {
                display: block;
                float: none;
                text-align: center;
                width: 100%;
              }
            }
          }
          .last-price {
            @media #{$bootstrap-sm} {
              height: 70px;
            }
            .price-title {
              font-family: $summer-font, "sans-serif";
              color:  #3e4041;
              font-size: 3.125em;
              font-weight: 300;
              display: inline-block;
              text-align: left;
              float: left;
              margin-top: 10px;
              margin-bottom: 0;
              @media #{$bootstrap-xs} {
                display: block;
                float: none;
                text-align: center;
              }
            }
            .price {
              font-family: $summer-font, "sans-serif";
              color:  #3caad2;
              font-size: 3.125em;
              font-weight: 300;
              display: inline-block;
              float: right;
              width: 120px;
              text-align: left;
              margin-top: 0;
              margin-bottom: 0;
              height: 55px;
              @media #{$bootstrap-xs} {
                display: block;
                float: none;
                text-align: center;
                width: 100%;
              }
            }
          }
          .btn-block-group {
            text-align: center;
            margin-top: 20px;
            @media #{$bootstrap-xs} {
              margin-top: 30px;
              margin-bottom: 20px;
            }
            .btn-agree {
              border-radius: 6px;
              background-color:  #f39c12;
              width: 230px;
              height: 41px;
              font-family: $ubuntu-bold-font, "sans-serif";
              color: #ffffff;
              font-size: 1em;
              font-weight: 700;
              text-align: center;
              transform: scaleY(1.0004);
              text-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
              display: block;
            }
            .icon-pencil {
              margin-right: 10px;
            }
            .edit {
              font-family: $ubuntu-light-font, "sans-serif";
              color:  #4a4b4c;
              font-size: 1em;
              font-weight: 300;
              line-height: 34px;
              text-align: center;
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}

#AddToBasket {
  .modal-dialog {
    width: 300px;
    height: 340px;
    position: absolute;
    left: 50%;
    margin-left: -150px;
    @media #{$bootstrap-xs} {
      top: 10vh;
    }
    @media #{$bootstrap-sm} {
      top: 50%;
      margin-top: -170px;
    }
    .modal-content {
      border-radius: 6px;
      background-color:  #ffffff;
      box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.6);
      width: 300px;
      height: 340px;
      .modal-header {
        border: none;
      }
      .modal-body {
        text-align: center;
        .header-text {
          font-family: $summer-font, "sans-serif";
          color: #4a4b4c;
          font-size: 3.125em;
          font-weight: 300;
          line-height: 60px;
          text-align: center;
          text-transform: uppercase;
        }

      }
      .modal-footer {
        border: none;
        text-align: center;
        .btn-add-to-basket {
          border-radius: 50%;
          width: 130px;
          height: 130px;
          text-align: center;
        }
      }
    }
  }
}

#modal-news {
  .modal-dialog {
    height: auto;
    position: absolute;
    top: 10vh;
    left: 50%;
    @media #{$bootstrap-xs} {
      width: 90%;
      margin-left: -45%;
    }
    @media #{$bootstrap-sm} {
      margin-left: -375px;
      width: 750px;
    }
    .modal-content {
      border-radius: 6px;
      background-color: #ffffff;
      box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.6);
      width: 750px;
      height: auto;
      @media #{$bootstrap-xs} {
        width: 100%;
      }
      .modal-header {
        border: none;
      }
      .modal-body {
        text-align: center;
        .header-text {
          font-family: $summer-font, "sans-serif";
          color: #4a4b4c;
          font-size: 5em;
          font-weight: 300;
          line-height: 100px;
          text-align: center;
          text-transform: uppercase;
          @media #{$bootstrap-xs} {
            font-size: 3.125em;
            line-height: 60px;
          }
        }
      }
      .modal-footer {
        border: none;
        .news-block {
          width: 370px;
          @media #{$bootstrap-xs} {
            width: 100%;
          }
          .btn-news {
            border-radius: 6px;
            width: 96px;
            height: 30px;
            font-family: $ubuntu-light-font, "sans-serif";
            font-size: 0.875em;
            font-weight: 300;
            text-align: center;
            text-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
            line-height: 27px;
            float: left;
            margin-bottom: 30px;
            margin-top: 5px;
          }
          .hr-news {
            margin-bottom: 20px;
          }
        }

        .news-block:last-child .hr-news {
          display: none;
        }
      }
    }
  }
}

#LosePassword {
  .modal-dialog {
    position: absolute;
    left: 50%;
    @media #{$bootstrap-xs} {
      width: 90%;
      margin-left: -45%;
      height: 274px;
      top:10vh;
    }
    @media #{$bootstrap-sm} {
      margin-top: -137px;
      margin-left: -385px;
      width: 770px;
      height: 274px;
      top: 50%;
    }
    .modal-content {
      border-radius: 6px;
      background-color:  #fff;
      box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.6);
      width: 770px;
      height: 274px;
      @media #{$bootstrap-xs} {
        width: 100%;
        height: auto;
      }
      @media #{$bootstrap-sm} {
        width: 770px;
        height: 274px;
      }
      .modal-header {
        border: none;
      }
      .modal-body {
        text-align: center;
        p {
          font-family: $summer-font, "sans-serif";
          color:  #4a4b4c;
          font-size: 3.750em;
          font-weight: 300;
          line-height: 60px;
          text-align: center;
        }
      }
      .modal-sended-email {
        margin-top: 40px;
        @media #{$bootstrap-xs} {
          margin-top: 10px;
          margin-bottom: 40px;
        }
        .sended-text{
          font-family: $summer-font, "sans-serif";
          color:  #4a4b4c;
          font-size: 3.750em;
          font-weight: 300;
          line-height: 60px;
          text-align: center;
        }
        .your-email {
          color: $blue-color;
        }
      }
      .modal-footer {
        border: none;
        text-align: center;
        .error-message {
          color: red;
          margin-top: 15px;
          font-family: $ubuntu-light-font, "sans-serif";
          font-size: 1em;
          display: none;
        }
        input {
          border-radius: 6px;
          border: 1px solid #cbcbcb;
          box-sizing: border-box;
          background-color: #f9f9f9;
          height: 50px;
          padding: 10px 10px 10px 20px;
          outline :none;
          ::-webkit-input-placeholder {
            padding-left: 20px;
            font-family: $ubuntu-light-font, "sans-serif";
            color: #4a4b4c;
            font-size: 1em;
            font-weight: 300;
            line-height: 24px;
            text-align: left;
          }
          ::-moz-placeholder {
            padding-left: 20px;
            font-family: $ubuntu-light-font, "sans-serif";
            color: #4a4b4c;
            font-size: 1em;
            font-weight: 300;
            line-height: 24px;
            text-align: left;
          }
          :-moz-placeholder {
            padding-left: 20px;
            font-family: $ubuntu-light-font, "sans-serif";
            color: #4a4b4c;
            font-size: 1em;
            font-weight: 300;
            line-height: 24px;
            text-align: left;
          }
          :-ms-input-placeholder {
            padding-left: 20px;
            font-family: $ubuntu-light-font, "sans-serif";
            color: #4a4b4c;
            font-size: 1em;
            font-weight: 300;
            line-height: 24px;
            text-align: left;
          }
          @media #{$bootstrap-xs} {
            width: 100%;
          }
          @media #{$bootstrap-sm} {
            width: 430px;
          }
        }
        .btn-next {
          border-radius: 6px;
          background-color:  #f39c12;
          width: 150px;
          height: 50px;
          font-family: $ubuntu-light-font, "sans-serif";
          color: #ffffff;
          font-size: 1em;
          font-weight: 400;
          line-height: 35px;
          text-align: center;
          text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
          margin-top: -2px;
          outline: none;
          &:hover {
            background-color: #E48D12;
          }
          @media #{$bootstrap-xs} {
            margin-top: 20px;
            margin-left: 0;
            margin-bottom: 20px;
          }
          @media #{$bootstrap-sm} {
            margin-left: -20px;
          }
        }
      }
    }
  }
}

#passwordUpdated{
  .modal-dialog {
    position: absolute;
    left: 50%;
    @media #{$bootstrap-xs} {
      width: 90%;
      min-height: 200px;
      margin-left: -45%;
      top: 10vh;
    }
    @media #{$bootstrap-sm} {
      top: 50%;
      width: 430px;
      height: 200px;
      margin-top: -100px;
      margin-left: -215px;
    }
    .modal-content {
      border-radius: 6px;
      background-color: #ffffff;
      box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.6);

      @media #{$bootstrap-xs} {
        width: 100%;
        min-height: 200px;
      }
      @media #{$bootstrap-sm} {
        width: 430px;
        height: 200px;
      }
      .modal-header {
        border: none;
      }

      .modal-change-pass {
        @media #{$bootstrap-xs} {
          margin-top: 20px;
          margin-bottom: 40px;
        }
        .sended-text {
          font-family: $summer-font, "sans-serif";
          color: #4a4b4c;
          font-size: 4em;
          font-weight: 300;
          line-height: 60px;
          text-align: center;
        }
      }
    }
  }
}

.close {
  opacity: .5;
  outline: none;
  .close-icon {
    color: #f39c12;
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    text-align: left;
  }
}
.close:hover {
  opacity: 1;
}