.steps-block {
  background-color:  #3e4041;
  height: 127px;
  width: 100%;
  .block-step {
    display: inline-block;
    .title-step {
      font-family: $summer-font,"sans-serif";
      font-size: 3.125em;
      font-weight: 300;
      text-align: left;
      color:  #9e9fa0;
      width: 70px;
    }
    .text-step {
      font-family: $ubuntu-regular-font, "sans-serif";
      color:  #9e9fa0;
      font-size: 0.938em;
      font-weight: 400;
      line-height: 24px;
      text-align: left;
      text-transform: uppercase;
      margin-top: 0;
      display: inline-block;
      float: left;
    }
    .active {
      color: #ffffff;
    }
  }
  .pointer {
    float: right;
  }
}

.steps-block-mobile {
  width: 100%;
  height: 84px;
  background-color:  #3e4041;
  .step-link {
    text-decoration: none;
  }
  .step-in-block {
    width: 52px;
  }
  .col-xs-c-1 {
    width: 6.66%;
    position: relative;
    min-height: 1px;
    float: left;
  }
  .col-xs-c-3 {
    width: 19.98%;
    position: relative;
    min-height: 1px;
    float: left;
  }
  .margin-no {
    margin-left: 0;
    margin-right: 0;
  }
  .text-step {
    font-family: $summer-font, "sans-serif";
    color:  #9e9fa0;
    font-size: 2.375em;
    font-weight: 300;
    text-align: center;
    margin: 21px 0 0 0;
    border-bottom: 1px solid #9e9fa0;

  }
  .dash-text {
    font-family: $summer-font, "sans-serif";
    color:  #9e9fa0;
    font-size: 2.375em;
    font-weight: 300;
    line-height: 84px;
    text-align: center;
    margin: 0;
  }
  .active {
    color: #ffffff;
    border: none;
  }
}