.total-cost-block {
  .sum {
    margin-bottom: 30px;
    @media #{$bootstrap-xs} {
      text-align: center;
    }
    .address-hr {
      background-color: #e5e5e5;
      height: 1px;
      margin-top: 0;
    }
    .total-cost {
      font-family: $summer-font, "sans-serif";
      color: #3e4041;
      font-size: 3.125em;
      font-weight: 300;
      line-height: 50px;
      text-align: left;
      display: inline-block;
      margin-right: 40px;
      margin-top: 10px;
      @media #{$bootstrap-xs} {
        margin-right: 0;
      }
    }
    .summary {
      font-family: $summer-font, "sans-serif";
      color: #3caad2;
      font-size: 3.125em;
      font-weight: 300;
      line-height: 50px;
      text-align: left;
      display: inline-block;
      @media #{$bootstrap-xs} {
        display: block;
        text-align: center;
      }
    }
    .btn-next {
      float: right;
      border-radius: 6px;
      background-color: #f39c12;
      width: 170px;
      height: 41px;
      font-family: $ubuntu-bold-font, "sans-serif";
      color: #ffffff;
      font-size: 1em;
      font-weight: 700;
      line-height: 24px;
      text-align: center;
      transform: scaleY(1.0004);
      text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
      outline: none;
      margin-top: 15px;
      @media #{$bootstrap-xs} {
        float: none;
      }
      .icon-next {
        margin-left: 5px;
      }
    }
    .basket-style {
      width: 370px;
    }
    .basket-style-sm {
      width: 270px;
    }
  }
}