.basket-block {
  margin-top: 55px;
  .basket-item-block {
    width: 635px;
    height: 92px;
    margin-bottom: 10px;
    .basket-item {
      border-radius: 6px;
      border: 1px solid rgba(203, 203, 203, 50);
      box-sizing: border-box;
      background-color: #ffffff;
      width: 600px;
      height: 92px;
      float: left;
      .img-mini-block {
        width: 70px;
        height: 70px;
        margin-top: 10px;
        margin-left: 10px;
        border: 1px solid rgba(203, 203, 203, 50);
        display: inline-block;
        float: left;
        img {
          width: 100%;
        }
      }
      .info-about-clothe {
        display: inline-block;
        float: left;
        margin-left: 10px;
        .name-clothe {
          font-family: $ubuntu-light-font, "sans-serif";
          color: #4a4b4c;
          font-size: 1.188em;
          font-weight: 300;
          line-height: 20px;
          text-align: left;
          margin-top: 25px;
        }
        .dop-info {
          font-family: $ubuntu-light-font, "sans-serif";
          color: #4a4b4c;
          font-size: 0.750em;
          font-weight: 300;
          line-height: 14px;
          text-align: left;
        }
      }
      .price-block {
        float: right;
        display: inline-block;
        width: 110px;
        height: 55px;
        margin-top: 18px;
        border-left: 1px solid rgba(203, 203, 203, 50);
        .price {
          font-family: $ubuntu-medium-font, "sans-serif";
          color: #3caad2;
          font-size: 0.938em;
          font-weight: 500;
          line-height: 34px;
          text-align: center;
          margin-top: 10px;
        }
      }
    }
    .basket-item-delete {
      border-radius: 6px;
      border: 1px solid rgba(203, 203, 203, 50);
      box-sizing: border-box;
      background-color:  #ffffff;
      width: 600px;
      height: 45px;
      .delete-item-text {
        color:rgb(158, 159, 160);
        font-family: $ubuntu-light-font, "sans-serif";
        font-size: 1em;
        font-weight: 300;
        line-height: 45px;
        text-align: left;
        margin: 0;
        padding-left: 10px;
        display: inline-block;
      }
      .return-text {
        display: inline-block;
        float: right;
        font-family: $ubuntu-light-font, "sans-serif";
        color:  #4a4b4c;
        font-size: 0.875em;
        font-weight: 300;
        line-height: 17px;
        border-bottom: 1px dotted #4a4b4c;
        margin-top: 15px;
      }
      .icon-reply {
        float: right;
        margin: 17px 15px 15px 5px;
      }
    }
    .btn-block-item {
      float: left;
      margin-left: 10px;
      margin-top: 35px;
      .btn-delete-item {
        border-radius: 50%;
        background-color: #3caad2;
        width: 22px;
        height: 22px;
        border: none;
        outline: none;
        padding: 0;
        .icon-close {
          color: #ffffff;
          font-size: 11px;
          font-weight: 400;
          line-height: 20px;
          text-align: center;
          transform: scaleY(1.0004);
        }
      }
    }
  }
  .delete-item {
    height: 45px;
    margin-bottom: 100px;
  }
}