.contacts-block {
  @media #{$bootstrap-xs} {
    .no-padding {
      padding-left: 0;
      padding-right: 0;
    }
  }
  .first-form {
    border-radius: 6px;
    border: 1px solid rgba(203, 203, 203, .5);
    box-sizing: border-box;
    background-color: #f5f5f5;
    width: 630px;
    margin-top: 60px;

    .success-message {
      color: #00c000;
      margin-top: 10px;
      font-family: $ubuntu-light-font, "sans-serif";
      font-size: 1em;
      text-align: left;
      display: none;
      margin-bottom: -7px;
    }

    .margin-no {
      margin-left: 0;
      margin-right: 0;
    }
    @media #{$bootstrap-xs} {
      width: 100%;
      border-radius: 0;
      height: auto;
      .add-padding {
        padding-left: 30px;
        padding-right: 30px;
      }
    }

    .form-table-1 {
      @media #{$bootstrap-sm} {
        & div:nth-child(odd) {
          padding-left: 30px;
        }
        & div:nth-child(even) {
          padding-right: 30px;
        }
      }
    }
    .label-text {
      font-family: $ubuntu-medium-font, "sans-serif";
      color:  #4a4b4c;
      font-size: 0.938em;
      font-weight: 500;
      line-height: 20px;
      text-align: left;
      display: block;
      margin-top: 25px;
      .necessarily {
        margin-left: 3px;
        color: #f39c12;
      }
    }
    .input-first-form {
      border-radius: 6px;
      border: 1px solid #e5e5e5;
      box-sizing: border-box;
      background-color: #ffffff;
      height: 42px;
      width: 100%;
      font-family: $ubuntu-light-font, "sans-serif";
      color:  #4a4b4c;
      font-size: 0.938em;
      font-weight: 300;
      line-height: 14px;
      text-align: left;
      margin-top: 5px;
      padding:0 20px;
      outline: none;
    }

    .error {
      border: 1px solid red;
      color: red;
      &::-webkit-input-placeholder {
        color: red
      }
    }
    .check-btn {
      margin-top: -4px;
      &:first-child {
        margin-top: 10px;
      }

      .check-text {
        float: left;
        font-family: $ubuntu-regular-font, "sans-serif";
        color:  #4a4b4c;
        font-size: 15px;
        font-weight: 400;
        line-height: 34px;
      }
      input[type=checkbox].with-font {
        border: 0;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
      }
      input[type=checkbox].with-font ~ label:before {
        font-family: $fontawesome, "sans-serif";
        display: inline-block;
        letter-spacing: 10px;
        font-size: 1.2em;
        color: #4a4b4c;
        width: 1.4em;
      }
      input[type=checkbox].with-font ~ label:before {
        content: "\f096";
      }
      input[type=checkbox].with-font:checked ~ label:before {
        content: "\f046";
        color: #3caad2;
      }
      input[type=checkbox].with-font:focus:active ~ label:before {
        color: #3caad2;
      }

      input[type=checkbox].with-font:focus ~ label {
        color: #4a4b4c;
      }
    }
  }
  .second-form {
    border-radius: 6px;
    border: 1px solid rgba(203, 203, 203, .5);
    box-sizing: border-box;
    background-color:  #f5f5f5;
    width: 630px;
    margin-top: 30px;
    margin-bottom: 60px;
    @media #{$bootstrap-xs} {
      width: 100%;
      border-radius: 0;
    }
    .payment-method-block {
      padding: 0 30px;
      .payment {
        font-family: $ubuntu-medium-font, "sans-serif";
        color:  #4a4b4c;
        font-size: 0.938em;
        font-weight: 500;
        line-height: 20px;
        text-align: left;
        display: inline-block;
        margin-top: 25px;
        .necessarily {
          margin-left: 3px;
          color: #f39c12;
        }
      }
      .more-payment {
        font-family: $ubuntu-regular-font, "sans-serif";
        color:  #c1c2c2;
        font-size: 0.750em;
        font-weight: 400;
        line-height: 15px ;
        text-align: right;
        float: right;
        margin-top: 27px;
        text-decoration: none;
        border-bottom: 1px dotted #c1c2c2;
      }
      .icon-question {
        color:  #c1c2c2;;
        font-size: 22px;
        font-weight: 400;
        float: right;
        margin-top: 25px;
        margin-right: 10px;
      }
      .radio-btn {
        .label-text {
          font-family: $ubuntu-regular-font, "sans-serif";
          color:  #4a4b4c;
          font-size: 0.938em  ;
          font-weight: 400;
          line-height: 34px;
          text-align: left;
          @media #{$bootstrap-xs} {
            font-size: 0.9em;
          }
        }
        .last-label {
          float: left;
        }
        .last-label-text {
          margin-left: 20px;
          font-family: $ubuntu-regular-font, "sans-serif";
          color:  #4a4b4c;
          font-size: 0.938em;
          font-weight: 400;
          line-height: 34px;
          @media #{$bootstrap-xs} {
            font-size: 0.9em;
          }
        }
        input[type=radio].with-font {
          border: 0;
          clip: rect(0 0 0 0);
          height: 1px;
          margin: -1px;
          overflow: hidden;
          padding: 0;
          position: absolute;
          width: 1px;
        }

        input[type=radio].with-font ~ label:before {
          font-family: $fontawesome, "sans-serif";
          display: inline-block;
          content: "\f1db";
          letter-spacing: 10px;
          font-size: 1em;
          color: #4a4b4c;
          width: 1.4em;
        }

        input[type=radio].with-font:checked ~ label:before {
          content: "\f192";
          font-size: 1em;
          color: #4a4b4c;
          letter-spacing: 5px;
        }
        input[type=radio].with-font:focus ~ label:before,
        input[type=radio].with-font:focus ~ label {
          color: #4a4b4c;
        }
      }
    }
  }
}
