#subscription {
    min-height: 100%;
    height: auto;
    margin: 0 auto -53px;
    padding: 0 0 53px;
    @media #{$bootstrap-xs} {
      padding: 0 0 110px;
      margin: 0 auto -110px;
    }

  .subscription-management {
    margin-bottom: 60px;
    @media #{$bootstrap-xs} {
      .no-padding {
        padding: 0;
      }
    }
    .header-block {
      text-align: center;
      .header-title {
        font-family: $summer-font, "sans-serif";
        color: #4a4b4c;
        font-size: 5em;
        font-weight: 300;
        line-height: 100px;
        text-align: center;
        text-transform: uppercase;
        margin-top: 10px;
        @media #{$bootstrap-xs} {
          font-size: 3.05em;
          line-height: 60px;
        }
      }
      .header-text {
        font-family: $summer-font, "sans-serif";
        color: #4a4b4c;
        font-size: 3.125em;
        font-weight: 300;
        line-height: 60px;
        text-align: center;
        margin-top: 20px;
        @media #{$bootstrap-xs} {
          font-size: 3.05em;
          padding: 0 15px;
        }

      }
      .btn-yes {
        width: 80px;
        height: 41px;
        border-radius: 6px;
        background-color: #f39c12;
        outline: none;
        font-family: $ubuntu-bold-font, "sans-serif";
        color: #ffffff;
        font-size: 15.99px;
        font-weight: 700;
        line-height: 24px;
        text-align: center;
        transform: scaleY(1.0004);
        text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
        margin-top: 10px;
      }
      .btn-save {
        border-radius: 6px;
        background-color: #f39c12;
        width: 148px;
        height: 41px;
        color: #ffffff;
        font-size: 15.99px;
        font-weight: 700;
        line-height: 24px;
        text-align: center;
        transform: scaleY(1.0004);
        text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
        margin-top: 25px;
        outline: none;
        @media #{$bootstrap-xs} {
          margin-top: 30px;
        }
      }
      .btn-off {
        border-radius: 6px;
        background-color: #484a4b;
        width: 260px;
        height: 41px;
        font-family: $ubuntu-bold-font, "sans-serif";
        color: #ffffff;
        font-size: 1em;
        font-weight: 700;
        line-height: 24px;
        text-align: center;
        transform: scaleY(1.0004);
        text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
        outline: none;
        margin-top: 30px;
        margin-right: 30px;
        @media #{$bootstrap-xs} {
          margin-right: 0;
        }
      }
      .btn-change {
        border-radius: 6px;
        background-color: #3caad2;
        width: 260px;
        height: 41px;
        font-family: $ubuntu-bold-font, "sans-serif";
        color: #ffffff;
        font-size: 1em;
        font-weight: 700;
        line-height: 24px;
        text-align: center;
        transform: scaleY(1.0004);
        text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
        outline: none;
        margin-top: 30px;
        @media #{$bootstrap-xs} {
          margin-top: 20px;
        }
        .pencil-icon {
          margin-right: 5px;
        }
      }
      .select-day {
        border-radius: 6px;
        border: 1px solid rgba(203, 203, 203, 50);
        box-sizing: border-box;
        background-color: #f5f5f5;
        width: 720px;
        height: 167px;
        margin-top: 35px;
        @media #{$bootstrap-xs} {
          width: 100%;
          border-radius: 0;
          height: 336px;
        }
        .select-header {
          font-family: $ubuntu-medium-font, "sans-serif";
          color: #4a4b4c;
          font-size: 0.938em;
          font-weight: 500;
          line-height: 25px;
          text-align: center;
          padding: 0 90px;
          @media #{$bootstrap-xs} {
            padding: 0 30px;
            margin-bottom: 0;
          }
        }
        .btn-drop-sub {
          border-radius: 6px;
          border: 1px solid #e5e5e5;
          box-sizing: border-box;
          background-color: #ffffff;
          width: 200px;
          height: 42px;
          font-family: $ubuntu-light-font, "sans-serif";
          color: #4a4b4c;
          font-size: 0.938em;
          font-weight: 300;
          line-height: 14px;
          text-align: left;
          .sort-icon {
            float: right;
          }
          @media #{$bootstrap-xs} {
            margin-top: 20px;
          }
        }
      }

      .select-day-change {
        border-radius: 6px;
        border: 1px solid rgba(203, 203, 203, 50);
        box-sizing: border-box;
        background-color: #f5f5f5;
        width: 720px;
        height: 104px;
        margin-top: 35px;
        @media #{$bootstrap-xs} {
          height: 223px;
          width: 100%;
          border-radius: 0;
        }
        .btn-middle {
          margin-top: 30px;
          @media #{$bootstrap-xs} {
            margin-top: 10px;
          }
          .select-header {
            font-family: $ubuntu-medium-font, "sans-serif";
            color: #4a4b4c;
            font-size: 0.938em;
            font-weight: 500;
            line-height: 25px;
            text-align: center;
            padding: 0 90px;
          }
          .btn-drop-sub {
            border-radius: 6px;
            border: 1px solid #e5e5e5;
            box-sizing: border-box;
            background-color: #ffffff;
            width: 200px;
            height: 42px;
            font-family: $ubuntu-light-font, "sans-serif";
            color: #4a4b4c;
            font-size: 0.938em;
            font-weight: 300;
            line-height: 14px;
            text-align: left;
            margin-right: 20px;
            @media #{$bootstrap-xs} {
              margin-right: 0;
              margin-top: 20px;
            }
            .sort-icon {
              float: right;
            }
          }
          .last {
            margin-right: 0;
          }
        }
      }

      .select-day-yet {
        border-radius: 6px;
        border: 1px solid rgba(203, 203, 203, 50);
        box-sizing: border-box;
        background-color: #f5f5f5;
        width: 720px;
        height: 104px;
        margin-top: 30px;
        @media #{$bootstrap-xs} {
          height: 223px;
          width: 100%;
          border-radius: 0;
        }
        .btn-middle {
          margin-top: 30px;
          @media #{$bootstrap-xs} {
            margin-top: 10px;
          }
          .btn-drop-sub-no-active {
            border-radius: 6px;
            border: 1px solid #e5e5e5;
            box-sizing: border-box;
            background-color: #f5f5f5;
            width: 200px;
            height: 42px;
            font-family: $ubuntu-light-font, "sans-serif";
            color: rgba(74, 75, 76, 0.5);
            font-size: 0.938em;
            font-weight: 300;
            line-height: 14px;
            text-align: left;
            margin-right: 20px;
            .sort-icon {
              float: right;
            }
            @media #{$bootstrap-xs} {
              margin-right: 0;
              margin-top: 20px;
            }
          }
          .last {
            margin-right: 0;
          }
        }
      }
    }
  }
}
