.timing-text-block {
  margin-bottom: 40px;
  @media #{$bootstrap-xs} {
    .no-padding {
      padding-left: 0;
      padding-right: 0;
    }
    .no-margin {
      margin-left: 0;
      margin-right: 0;
    }
  }
  .take-item {
    border-radius: 6px;
    border: 1px solid rgba(203, 203, 203, 0.5);
    box-sizing: border-box;
    background-color:  #f5f5f5;
    width: 481px;
    height: 375px;
    z-index: 1000;
    position: relative;
    margin-top: -50px;
    @media #{$bootstrap-xs} {
      margin-top: 30px;
      width: 100%;
      border-radius: 0;
      min-height: 320px;
      height: auto;
    }
    @media #{$bootstrap-sm} {
      margin-right: auto;
      margin-left: auto;
    }
    @media #{$bootstrap-lg} {
      margin-right: 0;
      margin-left: 0;
    }
  }
  .second-take {
    z-index: 1;
  }
  .car-left {
    height: 180px;
    width: 481px;
    background: url(../img/car-left.png) no-repeat center;
    margin-top: 20px;
    @media #{$bootstrap-sm} {
      display: block;
      margin-right: auto;
      margin-left: auto;
    }
    @media #{$bootstrap-lg} {
      float: right;
    }
  }
  .car-right {
    height: 180px;
    width: 481px;
    background: url(../img/cart-right.png) no-repeat center;
    margin-top: 20px;
    display: block;
    @media #{$bootstrap-sm} {
      display: block;
      margin-right: auto;
      margin-left: auto;
    }
    @media #{$bootstrap-lg} {
      margin-right: 0;
      margin-left: 0;

    }
  }

  .calendar-block {
    @media #{$bootstrap-lg} {
      float: right;
    }
  }
  .timing-info-block {
    padding: 0 90px;
    @media #{$bootstrap-xs} {
      padding: 0 25px;
    }
    .header-title-info {
      font-family: $summer-font, "sans-serif";
      color:  #4a4b4c;
      font-size: 3.750em;
      font-weight: 300;
      line-height: 60px;
      text-align: center;
      margin-left: 0;
      margin-bottom: 55px;
      margin-top: 35px;
    }
    .header-text {
      font-family: $ubuntu-light-font, "sans-serif";
      color:  #4a4b4c;
      font-size: 0.938em;
      font-weight: 300;
      line-height: 20px;
      text-align: left;
    }
  }

  .header-title {
    font-family: $ubuntu-medium-font, "sans-serif";
    color: #4a4b4c;
    font-size: 0.938em;
    font-weight: 500;
    line-height: 34px;
    text-align: left;
    margin-top: 15px;
    margin-left: 29px;
    margin-bottom: 5px;
    @media #{$bootstrap-xs} {
      width: 90%;
      margin-left: auto;
      margin-right: auto;
    }
  }
  .calendar {
    .calendar-btn {
      width: 421px;
      height: 43px;
      .calendar-number {
        width: 421px;
        .btn-date-number {
          border: 1px solid #e5e5e5;
          box-sizing: border-box;
          background-color: #ffffff;
          width: 43px;
          height: 43px;
          float: left;
          text-align: center;
          font-family: $ubuntu-medium-font, "sans-serif";
          color:  #4a4b4c;
          font-size: 0.938em;
          font-weight: 500;
          line-height: 40px;
          margin-bottom: 0;
          margin-top: 0;
          padding: 0;
          outline: none;
          border-radius: 0;
        }
        .active {
          background-color: $orange-color;
          color: $white-color;
        }
        .disabled {
          background-color:  #e0e0e0;
          color: rgb(158, 159, 160);
        }
      }
    }
    .month-block {
      border: 1px solid #e5e5e5;
      box-sizing: border-box;
      background-color:  #ffffff;
      width: 421px;
      height: 30px;
      .month-text {
        font-family: $ubuntu-regular-font, "sans-serif";
        color:  #4a4b4c;
        font-size: 0.813em;
        font-weight: 400;
        text-align: center;
        margin-top: 0;
        margin-bottom: 0;
        line-height: 30px;
        text-transform: uppercase;
      }
    }
    .days-of-the-week {
      background-color:  #3caad2;
      width: 421px;
      height: 30px;
      .days {
        width: 42px;
        height: 30px;
        float: left;
        .days-text {
          font-family: $ubuntu-medium-font, "sans-serif";
          color: #ffffff;
          font-size: 0.938em;
          font-weight: 500;
          line-height: 30px;
          text-align: center;
          margin-top: 0;
          margin-bottom: 0;
          text-transform: lowercase;

        }
      }
    }
  }

  .drop-block {
    width: 421px;
    @media #{$bootstrap-xs} {
      width: 90%;
    }
    >ul {
      padding-bottom: 0;
    }
    >ul li:nth-last-child(odd) {
      background-color: transparent;

    }
    >ul li:last-child {
      border-bottom-right-radius: 6px;
      border-bottom-left-radius: 6px;
    }
    .btn-drop-time {
      width: 421px;
      height: 42px;
      border-radius: 6px;
      border: 1px solid #e5e5e5;
      box-sizing: border-box;
      background-color:  #ffffff;
      padding: 0;
      outline: none;
      z-index: 2;
      position: relative;
      &:hover {
        background-color:  #ffffff;
      }
      &:active {
        background-color:  #ffffff;
      }
      &:focus {
        background-color:  #ffffff;
      }
      @media #{$bootstrap-xs} {
        width: 100%;
      }
      .margin {
        margin-left: 20px;
      }
      .price {
        font-family: $ubuntu-medium-font, "sans-serif";
        color:  #3caad2;
        font-size: 0.938em;
        font-weight: 500;
        line-height: 42px;
        text-align: left;
        margin: 0 5px 0 20px;
        float: left;
      }
      .time-select {
        font-family: $ubuntu-light-font, "sans-serif";
        color:  #4a4b4c;
        font-size: 0.938em;
        font-weight: 300;
        line-height: 42px;
        text-align: left;
        float: left;
      }
      .mob-time-select {
        padding-left: 20px;
      }
      .sort-icon {
        float: right;
        line-height: 36px;
        margin-right: 15px;
      }
    }

    .time-take-second-btn {
      z-index: 5;
    }

    .drop-menu-time {
      width: 421px;
      margin-top: -5px;
      border-radius: 0 0 6px 6px;
      z-index: 4;
      @media #{$bootstrap-xs} {
        width: 100%;
      }
      >li>a {
        height: 35px;
        padding: 0 0 0 20px;
        background-color: transparent;
        &:hover {
          background-color: #fcfcfc;
          border-radius: 6px;
          cursor: pointer;
        }
        &.disabled:hover {
          background-color:  #f5f5f5;
        }

        .price {
          font-family: $ubuntu-medium-font, "sans-serif";
          color:  #3caad2;
          font-size: 0.938em;
          font-weight: 500;
          line-height: 35px;
          text-align: left;
          margin: 0 5px 0 0;
          float: left;
        }
        .time-select {
          font-family: $ubuntu-light-font, "sans-serif";
          color:  #4a4b4c;
          font-size: 0.938em;
          font-weight: 300;
          line-height: 35px;
          text-align: left;
          float: left;
          &:hover {
            font-weight: 500;
          }
        }
      }


      .divider {
        margin: 0;
      }

      .disabled {
        background-color:  #f5f5f5;
        .price {
          color: #c8c8c8;
        }
        .time-select {
          color: #c8c8c8;
        }
      }

    }
  }
  @media #{$bootstrap-xs} {
    .drop-block-last {
      margin-bottom: 30px;
    }
  }
  .courier-do {
    .courier-last-btn {
      z-index: 3;
    }
    .courier {
      margin-left: 20px;
    }
    .second-input {
      z-index: 2;
    }
    .second-input-btn {
      z-index: 10;
    }
  }
  .calendar-mobile {
    .first-mob-btn {
      z-index: 16;
    }
    .first-ul {
      z-index: 10;
    }

  }
}

